<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- The Automotive artifact is only installed on API 29+ car systems. -->
    <uses-sdk tools:overrideLibrary="androidx.car.app.automotive" />

    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="true" />
    <uses-feature
        android:name="android.software.car.templates_host"
        android:required="true" />

    <application>
        <meta-data
            android:name="com.android.automotive"
            android:resource="@xml/automotive_app_desc" />
        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="7" />

        <activity
            android:name=".MainActivity"
            tools:node="remove" />
        <activity
            android:name="androidx.car.app.activity.CarAppActivity"
            android:exported="true"
            android:label="@string/android_automotive_preview_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="distractionOptimized"
                android:value="true" />
        </activity>

        <service
            android:name=".car.TougeDashCarAppService"
            android:exported="true"
            android:label="@string/android_automotive_preview_name">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <category android:name="androidx.car.app.category.IOT" />
            </intent-filter>
        </service>
    </application>
</manifest>
